<section class="form-container">

  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">

    <mat-form-field class="form-width-80">
      <input formControlName="searchInput" autocomplete="off" matInput placeholder="sound cloud search" value="">
    </mat-form-field>

    <div class="search-btn-container">
      <button type="submit" mat-raised-button color="primary">Search</button>
    </div>

    <div class="search-btn-container">
      <button mat-raised-button color="primary">Next</button>
    </div>

  </form>

  <ng-template #resultsTemp></ng-template>

</section>
